*{
margin : 0;
padding : 0;
box-sizing : border-box;
}
 ul{
    list-style-type: none;
 }
 a{
    text-decoration :none;
 }
 .container {
width: calc(100% - 330px);
margin: auto;
 }
 .row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
 }
 .header{
   padding: 31.84px 0; 
 }
 .header .row{
   justify-content: space-between;
 }
 .list ul{
    display: flex;
    gap:60px;
 }
 .list a{
    color:  #3A3845;
 }

 .icons ul{
    display: flex;
    gap:24px;
 }
.menu{
   display: none;
}

 /*media qurey */
 @media screen and (min-Width:320px)and (max-width:991px){
   .container{
      width: calc(100% -40px);
   }
   .list{
      display: none;
   }
   .icon_hidden{
      display: none;
   }
   .menu{
      display: block;
   }

 }
  .collection .row{
      gap: 30px;
   }
   .collection{
      text-align: center;
      width: calc( (100% - 30px) / 4 );
   }
   .collection img{
      width: 100%;
   }

   /*media qurey */
 @media screen and (min-Width:600px)and (max-width:991px){
  
   .collection{
      width: calc ((100% -30px) / 2);
   }
}
 @media screen and (min-Width:310px)and (max-width:599px){
.collection{
      width: 100%;
   }
 }


   