*{
margin : 0;
padding : 0;
box-sizing : border-box;
}
 ul{
    list-style-type: none;
 }
 a{
    text-decoration :none;
 }
 .container {
width: calc(100% - 330px);
margin: auto;
 }
 .row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
 }
 .header{
   padding: 31.84px 0; 
 }
 .list ul{
    display: flex;
    gap:60px;
 }
 .list a{
    color:  #3A3845;
 }

 .icons ul{
    display: flex;
    gap:24px;
 }
.menu{
   display: none;
}

 /*media qurey */
 @media screen and (min-Width:320px)and (max-width:600px){
   .container{
      width: calc(100% -40px);
   }

   body{
      background-color: teal;
   }
   .list{
      display: none;
   }
   .icon_hidden{
      display: none;
   }
   .menu{
      display: block;
   }
 }